body {
    background-color: bisque;
    display: flex;
    justify-content: center;
    padding: 5em 5em;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: firebrick;
    height: 40vh;
    width: 40vh;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-radius: 2em;
}
.text {
    background-color: aliceblue;
    font-size: 2em;
    border: 1px solid whitesmoke;
    border-radius: 10px 5px;
}

.board {
    display: flex;
    gap: 5em;
    flex-direction: column;    
}

.player {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    background-color: mediumseagreen;
    border-radius: 2em;
    padding: 1em 0.5em;
}

.buttons {
    font-size: 1.5rem;
    border: 3px solid black;
    border-radius: 2em 2em;
    width: 5rem;
    height: 50px;
    text-align: center;
    padding: 2px 1px;
}

.buttons:hover {
    background-color: goldenrod;
}



